@font-face {
    font-family: 'Pixel Operator';
    src: url('PixelOperator.woff2') format('woff2'),
        url('PixelOperator.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

